
header {
  font-family: sans-serif;
  margin: 40px 0 40px 30px;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.fa-smile-o:hover {
  color: green;
}
.fa-meh-o:hover {
  color: blue;
}
.fa-frown-o:hover {
  color: red;
}

.col-sm-6 {
  font-family: sans-serif;
  padding: 0;
}

#info {
  margin-top: 60px;
  outline: solid grey 1px;
  height: 200px;
}

#title {
  font-style: italic;
}

#buttons {
  position: absolute;
  bottom: 0;
}

p {
  font-size: 17px;
}

#image {
  height: 80vh;
}
