
#page {
  display: none;

}

#loading {
  display: block;
  font-family: 'Garamond', serif;
}


@font-face {
  font-family: 'Garamond';
  src: url('./garamond/AGaramondPro-Regular.otf');
}

header {
  font-family: 'Garamond', serif;
  margin: 40px 0 40px 30px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.fa-smile-o:hover {
  color: green;
}

.fa-meh-o:hover {
  color: blue;
}

.fa-frown-o:hover {
  color: red;
}

.col-sm-6 {
  font-family: 'Garamond', serif;
  padding: 0;
}

#info-container {
  margin-top: 60px;
  outline: solid grey 1px;
  height: 200px;
}

#title {
  font-style: italic;
}

#buttons {
  position: absolute;
  bottom: 0;
  font-size: 17px;
}

p {
  font-size: 17px;
}

img {
  box-shadow: -2px 3px 12px grey;
  height: 100%;
  float: right;
}

